<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {{> page_title}}
    </title>
    <link rel="stylesheet" href="{{assets_path}}/dist/css/styles.css" />
    <style>
        .border-bottom-gray {
            border-bottom: 1px solid #E6E6E6;
        }

        .ios-webview .main-nav, .android-webview .main-nav {
            display: none;
        }
    </style>

</head>
<body>
<script >
    if (window.webkit) {
        document.body.classList.add("ios-webview")
    }
    if (window.Android) {
        document.body.classList.add("android-webview")
    }
</script>
<nav class="main-nav navbar bg-white sticky-top border-bottom-gray">
    <span class="font-weight-bold  navbar-brand mb-0">Positivelys</span>
</nav>
{{> page_content}}
<script type="application/javascript" src="{{assets_path}}/dist/js/application.js"></script>
</body>
</html>