@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'),
  url('../../dist/fonts/nunito-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../../dist/fonts/nunito-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-700 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Bold'), local('Nunito-Bold'),
  url('../../dist/fonts/nunito-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../../dist/fonts/nunito-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

$font-family-sans-serif: 'Nunito', sans-serif;
$primary: #09CBCB;
$link-color: #212529;
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import './animations';
@import "reminders";

// hack because ios will hold the hover colors on button until the user presses somewhere else.
.btn:hover {
  background-color: inherit;
  color: inherit;
}

.font-12 {
  font-size: 12px;
}

.font-22 {
  font-size: 22px;
}


.dropdown-toggle:after {
  content: none
}

.dropdown-toggle.btn-link:focus {
  text-decoration: none;
}

.dropdown-toggle.btn-link:hover {
  text-decoration: none;
}

.dropdown-toggle.btn:focus {
  box-shadow: none;
}

.h-0 {
  height: 0;
}