{{#> application_layout}}
    {{#*inline "page_title"}}New Reminder{{/inline}}
    {{#*inline "page_content"}}
        <section>
            New Reminder
        </section>

    {{/inline}}
{{/application_layout}}

