{{#> application_layout}}
    {{#*inline "page_title"}}Reminders{{/inline}}
    {{#*inline "page_content"}}
        <h1>Enabled Notifications to view reminders</h1>
        <p>instructions go here</p>

        {{os}}
    {{/inline}}
{{/application_layout}}

